---
import BR from "~/components/maps/BR.svg";
---

<section class="contente bg-none drop-shadow-lg">
  <div class="map-wrappere w-fit mx-auto lg:py-20 lg:px-8">
    <div id="toolTip" class=""></div>
    <object class="" id="map" data={BR} type="image/svg+xml"></object>
  </div>
</section>
<script is:inline src="/BR-map.js"></script>
