---
import BR from "~/components/maps/BR.svg";
---

<section
  class="content h-[75vh] bg-blue-900 bg-transparent drop-shadow-lg"
>
  <div class="map-wrapper">
    <div id="toolTip"></div>
    <object class="" id="map" data={BR} type="image/svg+xml"></object>
  </div>
</section>
<script is:inline src="/BR-map.js"></script>
