
/**
   * Add the correct display in IE 10+.
   */

   template {
	display: none;
  }
  
  /**
	 * Add the correct display in IE 10.
	
  
  [hidden] {
	display: none;
  }
  
    /**
  @media only screen and (min-width: 1200px) {
	html,
	body {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}
  }
  
  @media only screen and (max-width: 859px) {
	main {
	  flex-direction: column;
	}
	section.sidebar {
	  flex: 0 0 50%;
	  order: 2;
	}
  
	section.content {
	  flex: 1 1 50%;
	  order: 1;
	}
  }
   */
  main {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
  }
  
  section.content {
	flex: 1 1 80%;
	padding: 30px;
	position: relative;
  }
  
  .map-wrapper {
	width: 100%;
	height: 100%;
	margin: auto;
  }
  
  object#map {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 998;
  }
  
  div#toolTip {
	position: absolute;
	transition: 0.2s ease-out;
	background-color: #ecf0f1;
	border-radius: 3px;
	z-index: 999;
	pointer-events: none;
  }
  
  div#toolTip ul {
	font-family: sans-serif;
	list-style: none;
	padding: 15px;
	margin: 0;
  }
  
  div#toolTip ul li {
	margin-bottom: 3px;
  }