[hidden] {
  display: none;
}
body {
  font-family: "Assistant Variable", sans-serif;
}
/**
  @media only screen and (min-width: 1200px) {
	html,
	body {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}
  }
  
  @media only screen and (max-width: 859px) {
	main {
	  flex-direction: column;
	}
	section.sidebar {
	  flex: 0 0 50%;
	  order: 2;
	}
  
	section.content {
	  flex: 1 1 50%;
	  order: 1;
	}
  }
  
main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
 */

body {
  @apply bg-white;
}

div#toolTip > * {
  @apply m-0 p-4 font-sans;
}

div#toolTip {
  @apply pointer-events-none absolute z-[999] rounded border bg-white opacity-100 shadow transition-all duration-500 ease-out;
}

.toolTip-hidden {
  @apply opacity-0  !important;
}

.disabled {
  @apply cursor-not-allowed bg-gray-400 text-gray-500 hover:opacity-100 active:opacity-100 !important;
}



section.content {
  flex: 1 1 80%;
  padding: 30px;
  position: relative;
}

.map-wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
}

object#map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 998;
}

@keyframes color-change {
  0% {
    color: transparent;
  }
  50% {
    color: black;
  }
  100% {
    color: transparent;
  }
}
.animate-text {
  animation-name: color-change;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
