.q-disabled {
  @apply scale-90 opacity-40 shadow-none grayscale hover:scale-90 hover:cursor-not-allowed active:scale-90 !important;
}

.q-reset {
  @apply scale-100 shadow-none grayscale hover:scale-100 hover:cursor-not-allowed active:scale-100 cursor-not-allowed hover:opacity-100 active:opacity-100 !important;
}

.q-tip {
  @apply scale-[1.1] border-4 border-red-500;
}

.q-tip-animation {
  animation: tip 1000ms infinite forwards;
}

@keyframes tip {
  0% {
    border-color: red;
  }

  50% {
    border-color: blue;
  }

  100% {
    border-color: red;
  }
}

.scale-out {
  animation: scale-out 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 400ms both;
}

@keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.pulse {
  animation: shake 300ms ease-out;
}

.q-minus-anim {
  animation: shake 600ms ease-out;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-18 14:40:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */

.vibrate-1 {
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
