---
import BR from "./BR.svg";
---

<section class="contente bg-none drop-shadow-lg">
  <div class="map-wrappere mx-auto w-fit px-4 xl:px-8 xl:py-20">
    <div id="toolTip" class="toolTip-hidden"></div>
    <div id="mobile" class=""></div>
    <object class="" id="map" data={BR} type="image/svg+xml"></object>
  </div>
</section>
<script src="~/scripts/BR-map.ts"></script>
