---
import Layout from "~/layouts/BaseLayout.astro";
import Brazil from "~/map/Brazil.astro";
import SelectUF from "~/components/SelectUF.astro";
---

<Layout>
  <SelectUF />

  <div class="relative max-w-screen-md mx-auto">
    <Brazil />
    <ul
      class="text-left md:block md:bottom-48 md:left-32 md:absolute z-20 px-4 md:p-0 -mt-20"
    >
      <li class="before:content-['▉'] before:text-[#a99ada]">&nbsp Norte</li>
      <li class="before:content-['▉'] before:text-[#fb9a99]">&nbsp Centro-oeste</li>
      <li class="before:content-['▉'] before:text-[#eaba66]">&nbsp Nordeste</li>
      <li class="before:content-['▉'] before:text-[#77b8cb]">&nbsp Sudeste</li>
      <li class="before:content-['▉'] before:text-[#c8dc9a]">&nbsp Sul</li>
    </ul>
  </div>
</Layout>
