---
import Layout from "~/layouts/BaseLayout.astro";
import "../styles/quiz.css";
//import Quiz from "~/components/Quiz.astro";
/*
rascunho:

clicar na bandeira do estado {estado}

adicionar listener pra cada bandeira, se for errada, ficar vermelho e/ou treme. Se for certo, fica verde e depois diminui opacidade, ai atualiza o desafio no topo. Até 3 tentativas antes de resetar ou mostrar a certa.

*/
---

<Layout>
    <main class="font-serif">
        
        <section class="prose  tracking-widest mx-auto mt-8">
            <h1 class="-mb-6 font-hand text-gray-300 -z-10">
                Quiz das Bandeiras
            </h1>
            <p class="font-sans tracking-tight leading-none">
                <span class="mt-4 underline">
                    Identifique cada uma das 27 bandeiras!</span
                >
                <br /><br />
                <small>Você começa com 14 pontos, com 0 o quiz reinicia.</small>
            </p>
        </section>
        <section
            class="container text-center mx-auto max-w-screen-lg"
            id="quiz"
        >
            <div
                id="q-head"
                class="my-6 w-auto items-center grid md:grid-cols-3 justify-around border border-gray-400/20 mx-auto rounded"
            >
                <span
                    class="order-2 rounded bg-gray-100 w-fit mx-auto px-4 md:order-1"
                >
                    Pontuação<span id="q-score"> 0</span>
                </span>
                <span class="order-3 md:order-2 relative" id="q-chal"
                    >Clique na bandeira:
                    <br />

                    <span
                        class="font-bold z-10 uppercase font-mono underline shadow-inner bg-gray-200 block rounded py-px"
                        id="q-question"></span>
                </span>
                <button
                    id="q-restart"
                    class="order-1 md:order-3 my-4 rounded-full bg-amarelo mx-12 px-4 py-2 font-bold uppercase text-black shadow hover:cursor-pointer hover:opacity-70 active:opacity-50"
                    value="Reiniciar">Reiniciar</button
                >
            </div>

            <div class="m-0" id="q-flags"></div>
        </section>
    </main>
    <script src="~/scripts/quiz.ts"></script>
</Layout>
