---
import Layout from "~/layouts/BaseLayout.astro";
//import Quiz from "~/components/Quiz.astro";
/*
rascunho:

clicar na bandeira do estado {estado}

adicionar listener pra cada bandeira, se for errada, ficar vermelho e/ou treme. Se for certo, fica verde e depois diminui opacidade, ai atualiza o desafio no topo. Até 3 tentativas antes de resetar ou mostrar a certa.

*/
---

<Layout>
    <main class="font-serif">
        <section class="prose tracking-widest mx-auto mt-8">
            <h1 class="-mb-6 font-hand text-gray-300 -z-10">
                Quiz das Bandeiras
            </h1>
            <span class="mt-4"> Identifique cada uma das 27 bandeiras!</span>
        </section>
        <section class="container mx-auto max-w-screen-lg" id="quiz">
            <div
                class="w-auto relative flex flex-col justify-around md:flex-row"
            >
                <span class="my-6 px-8 font-bold" id="q-question"></span>
                <button
                    id="q-restart"
                    class="my-4 absolute right-20 rounded bg-amarelo px-8 py-2 font-bold uppercase text-black shadow hover:cursor-pointer hover:opacity-80 active:opacity-50"
                    value="Reiniciar">Reiniciar</button
                >
            </div>
            <div class="m-0" id="q-bandeiras"></div>
        </section>
    </main>
    <script src="~/scripts/quiz.ts"></script>
</Layout>
