---
import Layout from "~/layouts/BaseLayout.astro";
import Maps from "~/map/Brazil.astro";
import SelectUF from "~/components/SelectUF.astro";
---

<Layout>
  <main>
    <section class="prose mx-auto text-center">
      <SelectUF />
      <Maps />
    </section>
  </main>
</Layout>
