---
const today = new Date();
---

<footer class=" select-none mx-auto mt-auto w-fit cursor-default p-4">
  <div
    class="aspect-[10/7] max-w-screen-sm bg-[url('/Brazil.svg')] bg-contain bg-clip-text bg-center bg-no-repeat text-center font-black leading-[1.4rem] text-transparent drop-shadow"
  >
    <br />
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    <p class="animate-text font-serif text-xl leading-none tracking-tighter">
      I❤️BRAZIL
    </p>
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    <br />
  </div>
  <small>&copy; {today.getFullYear()} All rights reserved.</small>
</footer>
