---
---

<footer
  class="mx-auto mt-auto w-fit cursor-default select-none p-4 text-center"
>
  <div
    class="aspect-[10/7] max-w-screen-sm bg-[url('/Brazil.svg')] bg-contain bg-clip-text bg-center bg-no-repeat text-center font-black leading-[1.4rem] text-transparent drop-shadow"
  >
    <br />
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    <p class="animate-text font-serif text-xl leading-none tracking-tighter">
      I❤️BRAZIL
    </p>
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    <br />
  </div>
  
</footer>
<div class="bg-gray-800 text-white w-full text-center">
  <a
    class="bg-gray-600 px-4 py-2 rounded border-gray-700 hover:bg-gray-700 border-2 transition-all"
    href="https://github.com/vasfvitor/bandeiras"
    aria-label="Star vasfvitor/bandeiras on GitHub">★ Star on GitHub</a
  >
</div>