---
---

<footer
  class="mx-auto mt-auto w-full cursor-default select-none border-y-4 p-4 text-center"
>
  <div
    class="bg-[url('/Brazil.svg')] bg-contain bg-clip-text bg-center py-8 text-center font-black text-transparent drop-shadow"
  >
    <p class="animate-text text-3xl font-black leading-none -tracking-[0.2rem]">
      ❤️BRASIL
    </p>
  </div>
  <div class="mx-auto rounded bg-gray-800 text-center text-white">
    <a
      class="rounded border-2 border-gray-700 bg-gray-600 px-4 py-2 transition-all hover:bg-gray-700"
      href="https://github.com/vasfvitor/bandeiras"
      aria-label="Star vasfvitor/bandeiras on GitHub">★ Star on GitHub</a
    >
  </div>
</footer>
