---
const today = new Date();
---

<footer class="mx-auto mt-auto p-4 w-fit cursor-default">
  <div
    class="text-center aspect-[10/7] max-w-screen-sm bg-[url('/Brazil.svg')] bg-contain bg-clip-text bg-center bg-no-repeat font-black leading-[1.4rem] text-transparent drop-shadow "
  >
    <br />
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    <p class="animate-text font-serif leading-none text-xl tracking-tighter">I❤️BRAZIL</p>
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    ▓▓▓▓▓▓▓▓▓▓▓▓▓▓<br />
    <br />
  </div>
  <small>&copy; {today.getFullYear()} All rights reserved.</small>
</footer>
