---
import HeaderNavigation from "./HeaderNavigation.astro";
import { SITE_TITLE } from "../consts";
---

<header class="bg-azul py-2 text-center text-gray-400">
  <small>{SITE_TITLE}</small>
  <nav class="my-4 bg-blue-800 text-white">
    <HeaderNavigation href="/">Página principal</HeaderNavigation>
    <HeaderNavigation href="/quiz">Quiz</HeaderNavigation>
  </nav>
</header>
