---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="bg-azul py-2 text-center text-gray-400">
  <small>{SITE_TITLE}</small>
  <nav class="hidden">
    <HeaderLink href="/">Home</HeaderLink>
  </nav>
</header>
