---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header  class="text-center text-gray-300 bg-azul">
  <small>
    {SITE_TITLE}
  </small>
  <nav class="hidden">
    <HeaderLink href="/">Home</HeaderLink>
  </nav>
</header>
