---
const ufs = [
  { sigla: "AC", nomePt: "Acre" },
  { sigla: "AL", nomePt: "Alagoas" },
  { sigla: "AM", nomePt: "Amazonas" },
  { sigla: "AP", nomePt: "Amapá" },
  { sigla: "BA", nomePt: "Bahia" },
  { sigla: "CE", nomePt: "Ceará" },
  { sigla: "DF", nomePt: "Distrito Federal" },
  { sigla: "ES", nomePt: "Espírito Santo" },
  { sigla: "GO", nomePt: "Goiás" },
  { sigla: "MA", nomePt: "Maranhão" },
  { sigla: "MG", nomePt: "Minas Gerais" },
  { sigla: "MS", nomePt: "Mato Grosso do Sul" },
  { sigla: "MT", nomePt: "Mato Grosso" },
  { sigla: "PA", nomePt: "Pará" },
  { sigla: "PB", nomePt: "Paraíba" },
  { sigla: "PE", nomePt: "Pernambuco" },
  { sigla: "PI", nomePt: "Piauí" },
  { sigla: "PR", nomePt: "Paraná" },
  { sigla: "RJ", nomePt: "Rio de Janeiro" },
  { sigla: "RN", nomePt: "Rio Grande do Norte" },
  { sigla: "RO", nomePt: "Rondônia" },
  { sigla: "RR", nomePt: "Roraima" },
  { sigla: "RS", nomePt: "Rio Grande do Sul" },
  { sigla: "SC", nomePt: "Santa Catarina" },
  { sigla: "SE", nomePt: "Sergipe" },
  { sigla: "SP", nomePt: "São Paulo" },
  { sigla: "TO", nomePt: "Tocantins" },
];
---

<form
  id="estadoForm"
  class="mx-auto my-8 max-w-sm rounded bg-azul p-4 text-center text-white"
  action="/uf"
  method="get"
>
  <div>
    <label for="estadoSelect">Escolha um estado:</label>
    <select
      name="estados"
      class="w-full rounded bg-verde p-2 text-white"
      id="estadoSelect"
    >
      <option value="" selected disabled>Escolha um estado</option>
      {
        ufs.map((ufs) => (
          <option value={ufs.sigla}>
            {ufs.nomePt} - {ufs.sigla}
          </option>
        ))
      }
    </select>
  </div>
  <input
    id="submitSel"
    class="my-2 block w-full rounded bg-amarelo py-1 font-bold uppercase text-black shadow hover:cursor-pointer hover:opacity-80 active:opacity-50"
    type="submit"
    value="View"
  />
</form>
<p class="prose mx-auto lg:prose-lg">
  O Brasil é composto por 27 unidades federativas - UF - das quais 26 estados e
  o distrito federal, Brasilía, a capital.
</p>
<script>
  const estadoForm = document.getElementById("estadoForm") as HTMLFormElement;
  const estadoSelect = document.getElementById(
    "estadoSelect"
  ) as HTMLSelectElement;
  const submit = document.getElementById("submit") as HTMLInputElement;
  /*
  submit?.addEventListener("click", function (e) {
    if (submit.disabled == true) {
      console.log("Error");
    }
  });
*/
  estadoForm?.addEventListener("change", function (e) {
    if (estadoSelect.value) {
      submit.disabled = false;
    } else {
      submit.disabled = true;
    }
  });
  estadoForm?.addEventListener("submit", function (event) {
    // Impede o envio padrão do formulário
    event.preventDefault();
    const uf = estadoSelect.value;
    const url = `/uf/${uf}`;
    window.location.href = url;
  });
</script>
