---
const ufs = [
  { sigla: "AC", nomePt: "Acre", nomeEn: "Acre" },
  { sigla: "AL", nomePt: "Alagoas", nomeEn: "Alagoas" },
  { sigla: "AM", nomePt: "Amazonas", nomeEn: "Amazonas" },
  { sigla: "AP", nomePt: "Amapá", nomeEn: "Amapá" },
  { sigla: "BA", nomePt: "Bahia", nomeEn: "Bahia" },
  { sigla: "CE", nomePt: "Ceará", nomeEn: "Ceará" },
  { sigla: "DF", nomePt: "Distrito Federal", nomeEn: "Federal District" },
  { sigla: "ES", nomePt: "Espírito Santo", nomeEn: "Espírito Santo" },
  { sigla: "GO", nomePt: "Goiás", nomeEn: "Goiás" },
  { sigla: "MA", nomePt: "Maranhão", nomeEn: "Maranhão" },
  { sigla: "MG", nomePt: "Minas Gerais", nomeEn: "Minas Gerais" },
  { sigla: "MS", nomePt: "Mato Grosso do Sul", nomeEn: "Mato Grosso do Sul" },
  { sigla: "MT", nomePt: "Mato Grosso", nomeEn: "Mato Grosso" },
  { sigla: "PA", nomePt: "Pará", nomeEn: "Pará" },
  { sigla: "PB", nomePt: "Paraíba", nomeEn: "Paraíba" },
  { sigla: "PE", nomePt: "Pernambuco", nomeEn: "Pernambuco" },
  { sigla: "PI", nomePt: "Piauí", nomeEn: "Piauí" },
  { sigla: "PR", nomePt: "Paraná", nomeEn: "Paraná" },
  { sigla: "RJ", nomePt: "Rio de Janeiro", nomeEn: "Rio de Janeiro" },
  { sigla: "RN", nomePt: "Rio Grande do Norte", nomeEn: "Rio Grande do Norte" },
  { sigla: "RO", nomePt: "Rondônia", nomeEn: "Rondônia" },
  { sigla: "RR", nomePt: "Roraima", nomeEn: "Roraima" },
  { sigla: "RS", nomePt: "Rio Grande do Sul", nomeEn: "Rio Grande do Sul" },
  { sigla: "SC", nomePt: "Santa Catarina", nomeEn: "Santa Catarina" },
  { sigla: "SE", nomePt: "Sergipe", nomeEn: "Sergipe" },
  { sigla: "SP", nomePt: "São Paulo", nomeEn: "São Paulo" },
  { sigla: "TO", nomePt: "Tocantins", nomeEn: "Tocantins" },
];
---

<form id="estadoForm" class="max-w-sm mx-auto text-white bg-azul p-4 rounded text-center my-8" action="">
  <div>
    <label for="estados">Choose a state:</label>
    <select name="estados" class="w-full bg-verde text-white p-2 rounded" id="estadoSelect">
      <option value="" selected disabled>Select a state</option>
      {
        ufs.map((ufs) => (
          <option value={ufs.sigla}>
            {ufs.nomePt} - {ufs.sigla}
          </option>
        ))
      }
    </select>
  </div>
  <input class="hover:cursor-pointer bg-amarelo block w-full py-1 my-2 rounded shadow hover:opacity-80 active:opacity-50 font-bold uppercase text-black" type="submit" value="View" />
</form>
<script>
  const estadoForm = document.getElementById("estadoForm");
  const estadoSelect = document.getElementById("estadoSelect");

  estadoForm.addEventListener("submit", function (event) {
    // Impede o envio padrão do formulário
    event.preventDefault();
    const uf = estadoSelect.value;
    const url = `/uf/${uf}`;
    window.location.href = url;
  });
</script>
