---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import Maps from "~/components/maps/Brazil.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="flex min-h-screen flex-col bg-gray-100 text-center">
    <Header />
    <main class="flex-grow">
      <slot />
      <Maps />
    </main>
    <Footer />
  </body>
</html>
