---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-white">
    <Header />
    <hr />
    <main class="my-8 bg-gray-100 shadow rounded container mx-auto border py-20">
      <hr />
      <slot />
      <hr />
    </main>
    <Footer />
  </body>
</html>
