---
import BR from "~/maps/BR.svg";
---

<section class="content h-20 bg-transparent">
  <div class="map-wrapper">
    <div id="toolTip"></div>
    <object id="map" data={BR} type="image/svg+xml"></object>
  </div>
</section>
<script is:inline src="/BR-map.js"></script>
